@model List<Saptra.Web.Models.MenuGrupo>

<div class="navbar-default sidebar" role="navigation" style="background-color:#E6E6E6;">
    <div class="sidebar-nav navbar-collapse collapse">
        <ul class="nav side-menu">
            @if (Model.Count > 0)
            {
                foreach (var grupo in Model)
                {
                    <li>
                        <a href="#"><i class="fa @grupo.iconGrupo fa-fw"></i> @Resources.Global.ResourceManager.GetString(grupo.nombreGrupo) <span class="fa arrow"></span> </a>
                        <ul class="nav nav-second-level" style="max-height:300px; overflow:auto;background-color:#fff;">

                            @foreach (var item in grupo.lstPermisos)
                            {
                                if (item.urlModulo == "")
                                {
                                    @Html.Raw("<li style='display:none;'><div id=" + item.nombreModulo + ">" + item.permisosAsignados + "</div></li>");
                                }
                                else
                                {
                                    @Html.Raw("<li>");
                                @Html.Raw(" <a href=" + Url.Content("~") + ViewBag.lang + item.urlModulo + " onclick='FCH.setPermisos(" + item.permisosAsignados + ")'>" + Resources.Global.ResourceManager.GetString(item.nombreModulo) + "</a>");
                                @Html.Raw("</li>");
                                }
                            }
                        </ul>
                    </li>
                }
            }
            @if (ViewBag.type == "phone")
            {
                <li>
                    @Html.ActionLink("Logout", "LogOut", "Autentificacion")
                </li>
            }
        </ul>

    </div>

    <!-- /.sidebar-collapse -->
</div>
