@model Saptra.Web.Data.cCoordinacionesRegion

<div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">@ViewBag.Titulo</h4>
        </div>
        <div class="modal-body">
            <div class="clientAlertDlg"></div>
            @using (Html.BeginForm("Actualiza", "Regiones", FormMethod.Post, new { id = "ActualizaRegionesForm", name = "ActualizaRegionesForm", @class = "form-horizontal", onsubmit = "return false" }))
            {
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="col-sm-4">Descripción</div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.DescripcionCoordinacionRegion, new { @class = "form-control", maxlength = 100, required = "required", onkeypress = "return /[a-zA-Z ]/i.test(event.key)" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="col-sm-4">Estatus</div>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(model => model.EstatusId,
                                                                                       new SelectList(new[]{
                                                                                                       new SelectListItem{ Text="Activo", Value="5"},
                                                                                                       new SelectListItem{ Text="Inactivo", Value="6"}},
                                                                               "Value", "Text"), new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                @Html.HiddenFor(model => model.UsuarioCreacionId)
                @Html.HiddenFor(model => model.CoordinacionRegionId)
            }
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Global.btnCancel</button>
            <button type="button" class="btn btn-primary btn-Actualizar">@Resources.Global.btnSave</button>
        </div>
    </div><!-- /.modal-content -->
</div>
