@model Saptra.Web.Data.mResetPassword
@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie ie6 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="~/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Administracion de proyectos para CMI">
    <meta name="author" content="Sysba">
    <title>Saptra </title>

    @Styles.Render("~/Content/cssLogon")

</head>

<body style="">

    <div class="container" id="page">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <img src="/Content/images/Logo_SAPTRA_min.jpg" style="margin-top:20%; width:100%" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">

                    <div class="panel-heading">
                        <h3 class="panel-title">@Resources.Usuarios.lblCambiarPassword</h3>
                    </div>

                    <div class="panel-body">

                        @using (Html.BeginForm("ResetPassword", "Autentificacion", FormMethod.Post, new { id = "frmResetPassword", @role = "form" }))
                        {
                            <div class="form-group">
                                <input id="nuevoPassword" name="nuevoPassword" class="form-control" type="password" placeholder="@Resources.Usuarios.lblPasswordNuevo " required >
                            </div>
                            <div class="form-group">
                                <input id="confirmaPassword" name="confirmaPassword" class="form-control" type="password" placeholder="@Resources.Usuarios.lblPasswordConfirmar" required>
                            </div>
                            <div>

                                @if (ViewBag.errorResetPassword != string.Empty)
                                {
                                    <div class="alert alert-warning alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <strong>Mensaje!</strong> @ViewBag.errorResetPassword
                                    </div>
                                }
                            </div>
                            <button type="submit" id="btn-reset-password" class="btn  btn-xl btn-primary btn-block">Cambiar contraseña</button>
                            @Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model => model.UsuarioId)
                        }
                    </div>
                </div>
            </div>
        </div>
        <br /><br /><br /><br /><br /><br /><br /><br />
    </div>


    @Scripts.Render("~/bundles/Logon")

    <script type="text/javascript">
        $(function () {
            localStorage.clear();
            $('#nuevoPassword').focus();
        });
    </script>
    @Html.IncludeVersionedJs(Url.Content("~/Scripts/Autentificacion.js"))
</body>

</html>


