@model Saptra.Web.Data.mUsuarios

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">@Resources.Usuarios.titleUpdate</h4>
        </div>
        <div class="modal-body">
            <div class="clientAlertDlg"> </div>
            @using (Html.BeginForm("Actualiza", "Usuario", FormMethod.Post, new { id = "ActualizaUsuarioForm", name = "ActualizaUsuarioForm", @class = "form-horizontal", onsubmit = "return false" }))
            {
                <div class="form-group">
                    <div class="col-sm-12" align="center">
                        <img src=@Model.ImagenUsuario alt="Ingresa una foto" class="img-responsive img-circle" style="width:120px; height:120px;" id="imgUpl">
                        <div class="input-group col-sm-3">
                            <span class="input-group-btn">
                                <span class="btn btn-primary btn-file">
                                    Imagen&hellip; <input type="file" id="imgUsuAct" name="imgUsuAct">
                                </span>
                            </span>
                            <input type="text" class="form-control" readonly>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2"><label class="control-label">@Resources.Usuarios.lblNameUser</label></div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.NombresUsuario, new { @class = "form-control", maxlength = 100, required = "required", onkeypress = "return /[a-zA-Z ]/i.test(event.key)" })
                        @Html.TextBoxFor(model => model.ImagenUsuario, new { @class = "form-control", maxlength = 100, required = "required", style = "display: none;" })
                    </div>
                    <div class="col-sm-2"><label class="control-label">@Resources.Usuarios.lblApellido</label></div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.ApellidosUsuario, new { @class = "form-control", maxlength = 100, required = "required", onkeypress = "return /[a-zA-Z ]/i.test(event.key)" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2"><label class="control-label">@Resources.Usuarios.lblLogin</label></div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.LoginUsuario, new { @class = "form-control", maxlength = 100, required = "required" })
                    </div>

                    <div class="col-sm-2"><label class="control-label">@Resources.Usuarios.lblPassword</label></div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.PasswordUsuario, new { @class = "form-control", maxlength = 100, required = "required", type = "password" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2"><label class="control-label">Correo</label></div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.EmailUsuario, new { @class = "form-control", maxlength = 100, required = "required" })
                    </div>
                    <div class="col-sm-2"><label class="control-label">@Resources.Usuarios.lblRol</label></div>
                    <div class="col-sm-4">
                        <select id="RolId" name="RolId" class="form-control" required="required"><option>@Resources.Global.menuLoading</option></select>
                    </div>
                </div>
                <div class="form-group">
                    <div style="display:none;" id="divRegion">
                        <div class="col-sm-2"><label class="control-label">Región</label></div>
                        <div class="col-sm-4">
                            <select id="RegionId" name="RegionId" class="form-control" required="required"><option value="0">ELIJA UNA REGIÓN...</option></select>
                            <input type="hidden" id="selRegionId" value="@ViewBag.RegionId" />
                        </div>
                    </div>
                    <div style="display:none;" id="divZona">
                        <div class="col-sm-2"><label class="control-label">Zona</label></div>
                        <div class="col-sm-4">
                            <select id="ZonaId" name="ZonaId" class="form-control" required="required"><option value="0">ELIJA UNA ZONA...</option></select>
                            <input type="hidden" id="selZonaId" value="@ViewBag.ZonaId" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2"><label class="control-label">RFC</label></div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.RFCUsuario, new { @class = "form-control", maxlength = 13, required = "required", onkeypress = "return /[a-zA-Z0-9 ]/i.test(event.key)" })
                    </div>
                    <div class="col-sm-2"><label class="control-label">Estatus</label></div>
                    <div class="col-sm-4">
                        @Html.DropDownListFor(model => model.EstatusId,
                                                                                        new SelectList(new[]{
                                                                                                        new SelectListItem{ Text="ACTIVO", Value="5"},
                                                                                                        new SelectListItem{ Text="INACTIVO", Value="6"}},
                                                                                "Value", "Text"), new { @class = "form-control" })
                    </div>
                </div>

                    @Html.HiddenFor(model => model.UsuarioId)
                    <input type="hidden" id="Rol" value="@Model.RolId" />

                    }
                </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default " data-dismiss="modal">@Resources.Global.btnCancel</button>
            <button type="button" class="btn btn-primary btn-ActualizarUsuario">@Resources.Global.btnSave</button>
        </div>
    </div>
</div>
