<style>
.separator {
    border-right: 1px solid #dfdfe0; 
}

.input-group {
    margin-bottom:10px; 
}

.input-height{
    height:35px;
}

</style>

<div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-body ">
            <div class="clientAlertDlg"> </div>
            @using (Html.BeginForm("Actualiza", "Usuario", FormMethod.Post, new { id = "ActualizaPasswordForm", name = "ActualizaPasswordForm", onsubmit = "return false" }))
            {
               <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        <span class="glyphicon glyphicon-th"></span>
                                        @Resources.Usuarios.lblCambiarPassword 
                                    </h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-4 col-sm-4 col-md-4 separator social-login-box">
                                            <br>
                                            <img alt="" class="img-thumbnail" src="@ViewBag.imagenUsuario">
                                        </div>
                                        <div style="margin-top:30px;" class="col-xs-8 col-sm-8 col-md-8 login-box">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                                                    <input class="form-control input-height" type="password" id="passwordActual" placeholder="@Resources.Usuarios.lblPasswordActual">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                                                    <input class="form-control input-height" id="passwordNuevo"  type="password" placeholder="@Resources.Usuarios.lblPasswordNuevo">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                                                    <input class="form-control input-height" id="passwordConfirmar" type="password" placeholder="@Resources.Usuarios.lblPasswordConfirmar">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            }
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default " data-dismiss="modal">@Resources.Global.btnCancel</button>
            <button type="button" class="btn btn-primary" id="btn-ActualizarPassword">@Resources.Global.btnSave</button>
        </div>
    </div>
 </div>







